@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  height: 100vh;
  overscroll-behavior: none;
}

body {
  overscroll-behavior: none;
  position: relative;
}

 .no-scrollbar::-webkit-scrollbar {
   display: none;
 }

 /* Hide scrollbar for IE, Edge and Firefox */
 .no-scrollbar {
   -ms-overflow-style: none;
   /* IE and Edge */
   scrollbar-width: none;
   /* Firefox */
 }

.mask-door {
  mask-image: url('/images/door.svg');
  mask-position: center bottom;
  mask-repeat: no-repeat;
  mask-size: 20%;
}

.animate-gradient {
  background: linear-gradient(to right,
        #FFF 20%,
        #FFF 30%,
        #3D3D3D 70%,
        #3D3D3D 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-fill-color: transparent; */
    background-size: 500% auto;
    animation: textShine 2.5s ease-in-out infinite alternate;
}

.animate-gradient2 {
  background: linear-gradient(to right,
      #FFF 20%,
      #FFF 30%,
      #3D3D3D 70%,
      #3D3D3D 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
  background-size: 500% auto;
  animation: textShine 3s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}