@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  height: 100vh;
  overscroll-behavior: none;
}

body {
  overscroll-behavior: none;
  position: relative;
}

 .no-scrollbar::-webkit-scrollbar {
   display: none;
 }

 /* Hide scrollbar for IE, Edge and Firefox */
 .no-scrollbar {
   -ms-overflow-style: none;
   /* IE and Edge */
   scrollbar-width: none;
   /* Firefox */
 }

.mask-door {
  mask-image: url('/images/door.svg');
  mask-position: center bottom;
  mask-repeat: no-repeat;
  mask-size: 20%;
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 3s ease infinite alternate;
  -moz-animation: animatedgradient 3s ease infinite alternate;
  animation: animatedgradient 3s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}