@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  height: 100vh;
  overscroll-behavior: none;
  touch-action: none;
}

body {
  overscroll-behavior: none;
}

 .no-scrollbar::-webkit-scrollbar {
   display: none;
 }

 /* Hide scrollbar for IE, Edge and Firefox */
 .no-scrollbar {
   -ms-overflow-style: none;
   /* IE and Edge */
   scrollbar-width: none;
   /* Firefox */
 }

.mask-door {
  mask-image: url('/images/door.svg');
  mask-position: center bottom;
  mask-repeat: no-repeat;
  mask-size: 20%;
}